.home-component {
  flex: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #333;
  font-size: 38px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-component p {
  margin: 10px 0;
  max-width: 65%;
  line-height: 1.4;
}

.prompt {
  font-size: 18px;
  color: #555;
}

.link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
