.catalog-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
}

h2 {
  text-align: center;
  width: 100%;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 30px;
  color: #333;
}

.ad-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.ad-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: calc(33% - 20px);
  box-sizing: border-box;
  text-align: center;
  background-color: #333;
}

.ad-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.ad-details h3 {
  margin: 10px 0;
  font-size: 20px;
  color: #fff;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
