.detail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 40px auto 0;
}

.left-section {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail-image {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image img {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  width: 500px;
  min-width: 450px;
  border: 1px solid #fff;
  border-radius: 8px;
}

.author-info {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  line-height: 1;
  width: 470px;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.detail-content {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 18px;
  min-height: 360px;
  max-height: 400px;
  width: 200px;
  overflow-wrap: break-word;
}

.image-info {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  width: 210px;
}

.image-info h2 {
  margin: 10px 0;
}

.image-info .price {
  font-size: 24px;
  font-weight: bold;
}

.action-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.edit-button,
.delete-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
}

.edit-button {
  background-color: #f1c40f;
}

.edit-button:hover {
  background-color: #d4ac0d;
}

.delete-button {
  background-color: #e74c3c;
}

.delete-button:hover {
  background-color: #c0392b;
}

.add-to-cart {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.add-to-cart:hover {
  background-color: #218838;
}

.price {
  font-size: 20px;
  font-weight: bold;
}
