@if(isLoading) {
<app-loader />
} @else {
<div class="detail-container">
  <div class="detail-content">
    <div class="detail-image">
      <img [src]="furniture?.img" alt="Furniture Image" />
    </div>
    <div class="detail-info">
      <p><strong>Color:</strong> {{ furniture?.color }}</p>
      <p><strong>Material:</strong> {{ furniture?.material }}</p>
      <p><strong>Weight:</strong> {{ furniture?.weight }} kg</p>
      <div>
        <h4>Dimensions:</h4>
        <p>Width: {{ furniture?.dimensions?.width }} cm</p>
        <p>Length: {{ furniture?.dimensions?.length }} cm</p>
        <p>Depth: {{ furniture?.dimensions?.depth }} cm</p>
        <p>Height: {{ furniture?.dimensions?.height }} cm</p>
      </div>
    </div>
  </div>
  <div class="row-items">
    <div class="author-info">
      <h4>Author Details:</h4>
      <p><strong>Name:</strong> {{ author?.username }}</p>
      <p><strong>Email:</strong> {{ author?.email }}</p>
      <p><strong>Phone:</strong> {{ author?.phone }}</p>
    </div>
    <div class="image-info">
      <h2>{{ furniture?.name }}</h2>
      <p class="price">${{ furniture?.price }}</p>
      @if(furniture) { @if(currentUser === furniture.authorId) {
      <div class="action-buttons">
        <button class="edit-button" (click)="editProduct()">Edit</button>
        <button class="delete-button" (click)="deleteProduct()">Delete</button>
      </div>
      } @else {
      <button
        class="add-to-cart"
        [disabled]="isItemInCart"
        (click)="addToCart(furniture._id)"
      >
        Add to Cart
      </button>
      } }
    </div>
  </div>
</div>
}
